{% extends "base.html" %}
{% load i18n %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>{% trans "Dashboard" %}</h1>
<p>Welcome to your dashboard. Today is {{ today }}</p>
<p>{{ london }} London </p>
<p>{{ hongkong }} in Hong Kong </p>
<p>{{ sydney }} in Sydney Melbourne :)</p>
View current investments and performance
View other investments
View Systems

{% get_current_language as LANGUAGE_CODE %}
<!-- Current lang:  {{ LANGUAGE_CODE}} -->
<p>{% trans "Please choose an option" %}</p>


Todays Contenders (funds.systems.runners. filtered by today)

Show Top 10 current systems based on roi

{% endblock %}
